{% extends 'news/base.html' %}

{% block title %}Foydalanuvchi parolini tiklash{% endblock title %}


{% block content %}
  <h1>Parolni tiklash</h1>
  <p>Parolingizni tiklash uchun email addresingizni kiriting</p>
      {% if validlink%}

        <p>Iltimos yangi parolni 2 martta kiriting</p>
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <p><button type="submit">Parolni almashtirish</button></p>
        </form>
      {% else %}
      <p>Siz no'to'g'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatilgan vaqti o'tib ketgan bo'lishi mumkin</p>

      {% endif %}

{% endblock content %}